<%for (var i=0; i<list.length; i++){%>
	<%var destination = list[i]%>
	<div class="destination-item">
		<a href="/<%=destination.surl%>" target="_blank">
			<img class="destination-cover" src="<%=lite.getAbImg(destination.pic_url.pic_url)%>">
			<span class="item-name"><%=destination.sname%></span>
		</a>
	</div>
<%}%>
