<div class="share-dialog">
	<p>您的心愿我们已经收到！分享完成最后一步。</p>
	<div class="share-sns nslog-area">
        <span class="share-bar-label">分享到: </span>
        <a class="sns-share-btn weixin" href="###"></a>
        <a class="share-tsina sns-share-btn" data-from="sina" href="###"></a>
        <a class="share-qzone sns-share-btn" data-from="qzone" href="###"></a>
        <a class="share-tqq sns-share-btn" data-from="tqq" href="###"></a>
        <div class="weixin-wrapper">
        	<div class="weixin-code" id="J_weixin-code"></div>
        	<strong>扫一扫</strong>
        	<p>分享到微信得到更多祝福。</p>
        	<span class="arrow-out"><span class="arrow-in"></span></span>
        </div>
    </div>
</div>
